@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .performance-grid-pattern {
    background-image: radial-gradient(#4A5568 0.5px, transparent 0.5px);
    background-size: 24px 24px;
  }
  .hard-shadow {
    box-shadow: 4px 4px 0px 0px #000000;
  }
  .hard-shadow:active {
    box-shadow: 1px 1px 0px 0px #000000;
    transform: translate(3px, 3px);
  }
  .code-glow {
    box-shadow: 0 0 20px rgba(236, 201, 75, 0.05);
  }
  .step-number {
    font-family: 'JetBrains Mono';
    -webkit-text-stroke: 1px #e6c446;
    color: transparent;
  }
  pre {
    background-color: #0d131f !important;
    border: 1px solid #45474c;
  }
  .token-keyword { color: #e6c446; }
  .token-string { color: #95a0b5; }
  .token-function { color: #f6ad55; }
  .token-comment { color: #45474c; font-style: italic; }
}

/* Prism Tomorrow Theme (self-hosted) */
code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}
